{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "LANGUAGE_ENDPOINT": "https://kareena-azure-project2.cognitiveservices.azure.com/",
    "LANGUAGE_KEY": "<BtcoQj3vee5YGiqdscY8eKdHmoHjM8rjWNotSatHrrnI9iqExKpKJQQJ99CGACGhslBXJ3w3AAAaACOGbdB6>"
  }
}
